{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script>
    window.addEventListener("load", function (e) {
        document.getElementById("id_rif").onkeypress = soloNumeros;
    });
    function soloNumeros(e){
        var key = e.which | e.keyCode;
	return (key >= 48 && key <= 57);
    }
</script>
{% endblock %}
{% block context %}
<section>
    <br>
    <form method="POST">
        <div class="row container">
            {% csrf_token %}
            {% for i in form %} 
            <div class='col 
                 {% if i.label == "Tipo rif" %}
                 s4 center
                 {% elif i.label == "Rif" %}
                 s8
                 {% else %}
                 s12
                 {% endif %}
                 '>
                {{ i.label }}
                {{ i }}
                {{ i.error }}
            </div>
            {% endfor %}
            <div class="col s12">
                <br>
                <button type="submit" class="btn blue right">Aceptar</button>
                <a href="{% url 'login:index' %}" class="btn red">Volver</a>
            </div>
        </div>
    </form>
</section>
{% endblock %}